header {
    background-color: #fff;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    color: #3a3a3a;
    margin-right: 30px;
    font-size: 16px;
    font-weight: 600;
}
nav li a{
    text-decoration: none;
}

nav>ul img {
    margin-right: 30px;
    cursor: grab;
}